In [198]:
import swim_utils

filename = "Katie-9-100m-Back.txt"
data = swim_utils.get_swimmers_data(filename)
data

('Mike',
 '15',
 '100m',
 'Back',
 ['1:19.23', '1:13.70', '1:13.96', '1:15.94'],
 [7923, 7370, 7396, 7594],
 '1:15.71')

In [199]:
import hfpy_utils

In [200]:
help(hfpy_utils.convert2range)

Help on function convert2range in module hfpy_utils:

convert2range(v, f_min, f_max, t_min, t_max)
    Given a value (v) in the range f_min-f_max, convert the value
    to its equivalent value in the range t_min-t_max.

    Based on the technique described here:
        http://james-ramsden.com/map-a-value-from-one-number-scale-to-another-formula-and-c-code/

In [201]:
hfpy_utils.convert2range(8107, 0, 9150, 0, 400)

354.4

In [202]:
for n in data[-2]:
    print(n, "=>", hfpy_utils.convert2range(n, 0, 9150, 0, 400))

7923 => 346.36
7370 => 322.19
7396 => 323.32
7594 => 331.98

In [203]:
header = """
<!DOCTYPE html>
<html>
    <head>
        <title>
            A simple bar chart
        </title>
    </head>
    <body>
        <h3>A simple bar chart</h3>
"""

In [204]:
header

'\n<!DOCTYPE html>\n<html>\n    <head>\n        <title>\n            A simple bar chart\n        </title>\n    </head>\n    <body>\n        <h3>A simple bar chart</h3>\n'

In [205]:
print(header)

<!DOCTYPE html>
<html>
    <head>
        <title>
            A simple bar chart
        </title>
    </head>
    <body>
        <h3>A simple bar chart</h3>

In [206]:
data

('Mike',
 '15',
 '100m',
 'Back',
 ['1:19.23', '1:13.70', '1:13.96', '1:15.94'],
 [7923, 7370, 7396, 7594],
 '1:15.71')

In [207]:
name, age, distance, stroke, times, values, average = data 
print(data)

('Mike', '15', '100m', 'Back', ['1:19.23', '1:13.70', '1:13.96', '1:15.94'], [7923, 7370, 7396, 7594], '1:15.71')

In [208]:
title = f"{data}"
#(Under {age}) {distance} - {stroke}"

In [209]:
title

"('Mike', '15', '100m', 'Back', ['1:19.23', '1:13.70', '1:13.96', '1:15.94'], [7923, 7370, 7396, 7594], '1:15.71')"

In [210]:
header = f"""
<!DOCTYPE html>
<html>
    <head>
        <title>
            {title}
        </title>
    </head>
    <body>
        <h3>{title}</h3>
"""

In [211]:
print(header)

<!DOCTYPE html>
<html>
    <head>
        <title>
            ('Mike', '15', '100m', 'Back', ['1:19.23', '1:13.70', '1:13.96', '1:15.94'], [7923, 7370, 7396, 7594], '1:15.71')
        </title>
    </head>
    <body>
        <h3>('Mike', '15', '100m', 'Back', ['1:19.23', '1:13.70', '1:13.96', '1:15.94'], [7923, 7370, 7396, 7594], '1:15.71')</h3>

In [212]:
footer = f""" 
        <p>Average: {average}</p>
    </body>
</html>
"""

In [213]:
print(footer)

        <p>Average: 1:15.71</p>
    </body>
</html>

In [214]:
body = """ 
        <svg height="30" width="400">
            <rect height="30" width="300" style="fill:rgb(0,0,255);" />
        </svg>Label 1<br />
"""

In [215]:
print(body)

        <svg height="30" width="400">
            <rect height="30" width="300" style="fill:rgb(0,0,255);" />
        </svg>Label 1<br />

In [216]:
times, values

(['1:19.23', '1:13.70', '1:13.96', '1:15.94'], [7923, 7370, 7396, 7594])

In [217]:
converts = []
for n in values:
    converts.append(hfpy_utils.convert2range(n, 0, max(values)+50, 0, 400))

In [218]:
times, values, converts

(['1:19.23', '1:13.70', '1:13.96', '1:15.94'],
 [7923, 7370, 7396, 7594],
 [397.49, 369.75, 371.05, 380.99])

In [219]:
list(zip(times, converts))

[('1:19.23', 397.49),
 ('1:13.70', 369.75),
 ('1:13.96', 371.05),
 ('1:15.94', 380.99)]

In [220]:
times.reverse()
converts.reverse()

body = ""
for t, c in zip(times, converts):
    svg = f""" 
                <svg height="30" width="400">
                        <rect height="30" width="{c}" style="fill:rgb(0,0,255);" />
                </svg>{t}<br />
            """
    body = body + svg

In [221]:
print(body)

                <svg height="30" width="400">
                        <rect height="30" width="380.99" style="fill:rgb(0,0,255);" />
                </svg>1:15.94<br />

                <svg height="30" width="400">
                        <rect height="30" width="371.05" style="fill:rgb(0,0,255);" />
                </svg>1:13.96<br />

                <svg height="30" width="400">
                        <rect height="30" width="369.75" style="fill:rgb(0,0,255);" />
                </svg>1:13.70<br />

                <svg height="30" width="400">
                        <rect height="30" width="397.49" style="fill:rgb(0,0,255);" />
                </svg>1:19.23<br />

In [222]:
html = header + body + footer

In [223]:
print(html)

<!DOCTYPE html>
<html>
    <head>
        <title>
            ('Mike', '15', '100m', 'Back', ['1:19.23', '1:13.70', '1:13.96', '1:15.94'], [7923, 7370, 7396, 7594], '1:15.71')
        </title>
    </head>
    <body>
        <h3>('Mike', '15', '100m', 'Back', ['1:19.23', '1:13.70', '1:13.96', '1:15.94'], [7923, 7370, 7396, 7594], '1:15.71')</h3>

                <svg height="30" width="400">
                        <rect height="30" width="380.99" style="fill:rgb(0,0,255);" />
                </svg>1:15.94<br />

                <svg height="30" width="400">
                        <rect height="30" width="371.05" style="fill:rgb(0,0,255);" />
                </svg>1:13.96<br />

                <svg height="30" width="400">
                        <rect height="30" width="369.75" style="fill:rgb(0,0,255);" />
                </svg>1:13.70<br />

                <svg height="30" width="400">
                        <rect height="30" width="397.49" style="fill:rgb(0,0,255);" />
                </svg>1:19.23<br />

        <p>Average: 1:15.71</p>
    </body>
</html>

In [224]:
with open("Calvin.html", "w") as df:
    print(html, file=df)