In [31]:
import swim_utils

filename = "Chris-17-100m-Breast.txt"
data = swim_utils.get_swimmers_data(filename)
data

('Chris',
 '17',
 '100m',
 'Breast',
 ['1:28.86', '1:29.90', '1:28.12', '1:28.67'],
 [8886, 8990, 8812, 8867],
 '1:28.89')

In [32]:
import hfpy_utils

In [33]:
help(hfpy_utils.convert2range)

Help on function convert2range in module hfpy_utils:

convert2range(v, f_min, f_max, t_min, t_max)
    Given a value (v) in the range f_min-f_max, convert the value
    to its equivalent value in the range t_min-t_max.

    Based on the technique described here:
        http://james-ramsden.com/map-a-value-from-one-number-scale-to-another-formula-and-c-code/

In [34]:
hfpy_utils.convert2range(8107, 0, 9150, 0, 400)

354.4

In [35]:
for n in data[-2]:
    print(n, "=>", hfpy_utils.convert2range(n, 0, 9150, 0, 400))

8886 => 388.46
8990 => 393.01
8812 => 385.22
8867 => 387.63

In [36]:
header = """
<!DOCTYPE html>
<html>
    <head>
        <title>
            A simple bar chart
        </title>
    </head>
    <body>
        <h3>A simple bar chart</h3>
"""

In [37]:
header

'\n<!DOCTYPE html>\n<html>\n    <head>\n        <title>\n            A simple bar chart\n        </title>\n    </head>\n    <body>\n        <h3>A simple bar chart</h3>\n'

In [38]:
print(header)

<!DOCTYPE html>
<html>
    <head>
        <title>
            A simple bar chart
        </title>
    </head>
    <body>
        <h3>A simple bar chart</h3>

In [39]:
data

('Chris',
 '17',
 '100m',
 'Breast',
 ['1:28.86', '1:29.90', '1:28.12', '1:28.67'],
 [8886, 8990, 8812, 8867],
 '1:28.89')

In [40]:
name, age, distance, stroke, times, values, average = data

In [41]:
title = f"{name}"
#(Under {age}) {distance} - {stroke}"

In [42]:
title

'Chris'

In [43]:
header = f"""
<!DOCTYPE html>
<html>
    <head>
        <title>
            {title}
        </title>
    </head>
    <body>
        <h3>{title}</h3>
"""

In [44]:
print(header)

<!DOCTYPE html>
<html>
    <head>
        <title>
            Chris
        </title>
    </head>
    <body>
        <h3>Chris</h3>

In [45]:
footer = f""" 
        <p>Average: {average}</p>
    </body>
</html>
"""

In [46]:
print(footer)

        <p>Average: 1:28.89</p>
    </body>
</html>

In [47]:
body = """ 
        <svg height="30" width="400">
            <rect height="30" width="300" style="fill:rgb(0,0,255);" />
        </svg>Label 1<br />
"""

In [48]:
print(body)

        <svg height="30" width="400">
            <rect height="30" width="300" style="fill:rgb(0,0,255);" />
        </svg>Label 1<br />

In [49]:
times, values

(['1:28.86', '1:29.90', '1:28.12', '1:28.67'], [8886, 8990, 8812, 8867])

In [50]:
converts = []
for n in values:
    converts.append(hfpy_utils.convert2range(n, 0, max(values)+50, 0, 400))

In [51]:
times, values, converts

(['1:28.86', '1:29.90', '1:28.12', '1:28.67'],
 [8886, 8990, 8812, 8867],
 [393.19, 397.79, 389.91, 392.35])

In [52]:
list(zip(times, converts))

[('1:28.86', 393.19),
 ('1:29.90', 397.79),
 ('1:28.12', 389.91),
 ('1:28.67', 392.35)]

In [53]:
times.reverse()
converts.reverse()

body = ""
for t, c in zip(times, converts):
    svg = f""" 
                <svg height="30" width="400">
                        <rect height="30" width="{c}" style="fill:rgb(0,0,255);" />
                </svg>{t}<br />
            """
    body = body + svg

In [54]:
print(body)

                <svg height="30" width="400">
                        <rect height="30" width="392.35" style="fill:rgb(0,0,255);" />
                </svg>1:28.67<br />

                <svg height="30" width="400">
                        <rect height="30" width="389.91" style="fill:rgb(0,0,255);" />
                </svg>1:28.12<br />

                <svg height="30" width="400">
                        <rect height="30" width="397.79" style="fill:rgb(0,0,255);" />
                </svg>1:29.90<br />

                <svg height="30" width="400">
                        <rect height="30" width="393.19" style="fill:rgb(0,0,255);" />
                </svg>1:28.86<br />

In [55]:
html = header + body + footer

In [56]:
print(html)

<!DOCTYPE html>
<html>
    <head>
        <title>
            Chris
        </title>
    </head>
    <body>
        <h3>Chris</h3>

                <svg height="30" width="400">
                        <rect height="30" width="392.35" style="fill:rgb(0,0,255);" />
                </svg>1:28.67<br />

                <svg height="30" width="400">
                        <rect height="30" width="389.91" style="fill:rgb(0,0,255);" />
                </svg>1:28.12<br />

                <svg height="30" width="400">
                        <rect height="30" width="397.79" style="fill:rgb(0,0,255);" />
                </svg>1:29.90<br />

                <svg height="30" width="400">
                        <rect height="30" width="393.19" style="fill:rgb(0,0,255);" />
                </svg>1:28.86<br />

        <p>Average: 1:28.89</p>
    </body>
</html>

In [57]:
with open("Calvin.html", "w") as df:
    print(html, file=df)